{%extends "base.html"%}
{% block sidebar %}{% endblock sidebar %}
{% block navbar %}{% endblock navbar %}
{% block content %}
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">¿Olvidaste tu contraseña?</h1>
                    <small  class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                          {% for error in field.errors %}
                            <div class="alert alert-danger">
                              <li>
                                {% if field != '__all__' %}
                                    <strong>{{ field.label }}:</strong>
                                {% endif %}
                                {{ error }}
                              </li>
                            </div>
                          {% endfor %}
                        {% endfor %}
                      {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endif %}
                    </small>
                  </div>
                  <form class="user" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="email" id="id_email"  placeholder="Ingrese su correo...">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Reestaclecer contraseña
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{%url 'login'%}">Ya tienes cuenta? ingresa aqui!</a>
                    &nbsp;
                    <a class="small" href="{%url 'signup'%}">Crea una cuenta!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}
