{%extends "base.html"%}
{% block sidebar %}{% endblock sidebar %}
{% block navbar %}{% endblock navbar %}
{% block content %}
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Confirmacion de contraseña</h1>
                  </div>
                  La contraseña ha sido reestablecida porfavor inicie sesion.
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{%url 'login'%}">Ya tienes cuenta? ingresa aqui!</a>
                    &nbsp;
                    <a class="small" href="{%url 'signup'%}">Crea una cuenta!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}
