{%extends "base.html"%}
{% block title %}Inicio{% endblock title %}
{% block content %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg">
              <div class="p-5">
                <div class="text-center">

                  <h1 class="h1 text-gray-900 mb-4">DEP</h1>
                  <h1 class="h6 text-gray-900 mb-4">Diagnostico de enfermedades por prolog</h1>
                </div>

                <hr>
                <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Instrucciones</h6>
                  </a>
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="collapseCardExample" style="">
                    <div class="card-body">
                      Aqui poner instrucciones
                    </div>
                  </div>
                </div>
                <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                          <div class="card shadow mb-4">
                          <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample1" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample1">
                              <h6 class="m-0 font-weight-bold text-primary">Sintomas Corporales</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample1" style="">
                              <div class="card-body">
                                <div class="form-group">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Dolor de abdomen
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Dolor de cabeza
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Dolor de cuerpo
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Fatiga
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Perdida de peso
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Cansancio
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Escalofrios
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Deshidratacion
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Sed
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                          <div class="card shadow mb-4">
                          <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
                              <h6 class="m-0 font-weight-bold text-primary">Sintomas Respiratorios</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample2" style="">
                              <div class="card-body">
                                <div class="form-group">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Dolor de garganta
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Secrecion nasal
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Congestion nasal
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Tos
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Flemas
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Estornudos
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Dificultad Respiratoria
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                          <div class="card shadow mb-4">
                          <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample3" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample3">
                              <h6 class="m-0 font-weight-bold text-primary">Sintomas Estomacales</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample3" style="">
                              <div class="card-body">
                                <div class="form-group">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Vomito
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Malestar
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Colicos
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Flatulencias
                                    </label>
                                  </div>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" value=""> Meteorismo
                                    </label>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
{% endblock content %}
