{%extends "base.html"%}
{% block title %}Inicio{% endblock title %}
{% block content %}
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg">
              <div class="p-5">
                <div class="text-center">

                  <h1 class="h1 text-gray-900 mb-4">DEP</h1>
                  <h1 class="h6 text-gray-900 mb-4">Diagnostico de enfermedades por prolog</h1>
                </div>
                <hr class="bg-danger">
                {% if qs %}
                  {% for texto in qs %}
                          {{ texto }}
                          {% for key, value in qs2.items %}
                            {% if key in texto %}
                              {{ value }}
                            {% endif %}
                          {% endfor %}
                          <hr class="bf-success">
                  {% endfor %}
                {% else %}
                  Por favor ingrese un valor valido
                <hr>
                {% endif %}
                <a href="{% url  'index'%}" type="button" class="btn btn-success btn-user btn-block">
                    Regresar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
